<ul>
  <li>
    <a routerLink="" routerLinkActive="Active"
    [routerLinkActiveOptions]="{exact:true}">Home</a>
  </li>
  <li>
    <a routerLink="Projects" routerLinkActive="Active">Projects</a>
  </li>
  <li>
    <a routerLink="/profile"
       [queryParams]="{id:1}"
       routerLinkActive="Active"
       >
      Profile User 1
    </a>
  </li>
  <li>
    <a routerLink="/profile"
       [queryParams]="{id:2}"
       routerLinkActive="Active"
       >
      Profile User 2
    </a>
  </li>
</ul>
<h1>Mohammad - SayarTehrani</h1>

<router-outlet></router-outlet>